xml/xmlSchema/godisnja_statistika.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="godisnja-statistika">
        <xs:complexType>
            <xs:attribute name="odbijeni-zahtevi" type="xs:positiveInteger"/>
            <xs:attribute name="prihvaceni-zahtevi" type="xs:positiveInteger"/>
            <xs:attribute name="zalbe-cutanje" type="xs:positiveInteger"/>
            <xs:attribute name="zalbe-na-odluku" type="xs:positiveInteger"/>
            <xs:attribute name="godina" type="xs:int"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
